## Basic Statistics-2

## Problem Statement : Hospital Patient Data Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 1.Load the patient dataset and show summary with info().

In [2]:
#1.Load the patient dataset and show summary with info().
df= pd.read_csv('Patient_Data.csv')
df

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45
5,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 468.0+ bytes

## 2.elect only the columns relevant for billing: ['PatientID', 'Department', 'Doctor', 'BillAmount'].

In [ ]:
#Selecting  only the columns relevant for billing

billing_column = df[['PatientID', 'Department', 'Doctor', 'BillAmount']]
billing_column.head()

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN

## 3.Drop administrative columns like ['ReceptionistID', 'CheckInTime'].

In [ ]:
#droping the columns ReceptionistID,CheckInTime
df=df.drop(['ReceptionistID', 'CheckInTime'],axis=1)
df.head()

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John         NaN
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose         NaN

## Use groupby to find total bill amount per department.

In [16]:
 #Group by Department and calculate total bill amount
total_bill_per_department = df.groupby('Department')['BillAmount'].sum().reset_index()

# Rename columns for clarity
total_bill_per_department.columns = ['Department', 'Total_Bill_Amount']

# Display the result
print(total_bill_per_department)

    Department  Total_Bill_Amount
0   Cardiology            16200.0
1  Dermatology                0.0
2    Neurology                0.0
3  Orthopedics             7500.0

## 5.Remove duplicate patient records based on PatientID.

In [ ]:
#Removing duplicate patient records based on PatientID.

df=df.drop_duplicates(['PatientID'])

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John         NaN
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose         NaN

## 6.Fill missing BillAmount values with the mean bill amount.

In [27]:
#Fill missing BillAmount values with the mean bill amount
import warnings
warnings.filterwarnings('ignore')
bill=df['BillAmount'].fillna(df['BillAmount'].mean(), inplace=True)
print(bill)

None

## 7.Merge the billing dataset with patient dataset on PatientID.

In [ ]:
#7.Merge the billing dataset with patient dataset on PatientID.
patients_df = pd.read_csv("Patient_Data.csv")
billing_df = pd.read_csv("Billing_Data.csv")
merged_df = pd.merge(patients_df, billing_df, on='PatientID', how='inner')
merged_df

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00,2000,3000
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30,1500,3500
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00,2500,5000
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00,3000,3200
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45,1000,4000
5,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00,2000,3000

## 8.Concatenate an additional DataFrame that contains new patients for the current week (row-wise).

In [ ]:
#Concatenate an additional DataFrame that contains new patients for the current week
df_old = pd.read_csv("Patient_Data.csv")

# Create a new DataFrame for this week's patients
df_new = pd.DataFrame({
    'PatientID': [201, 202, 203],
    'Name': ['Anita', 'Raj', 'Kiran'],
    'Age': [29, 40, 35],
    'Gender': ['F', 'M', 'M'],
    'Department': ['Cardiology', 'Orthopedics', 'Neurology'],
    'BillAmount': [4500, 6000, 5200]
})

# Concatenate both DataFrames
df_combined = pd.concat([df_old, df_new], ignore_index=True)
df_combined

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime,Age,Gender
0,101,Alice,Cardiology,Dr. Smith,5000.0,1.0,2023-01-10 09:00,NaN,NaN
1,102,Bob,Neurology,Dr. John,NaN,2.0,2023-01-11 10:30,NaN,NaN
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1.0,2023-01-12 11:00,NaN,NaN
3,104,David,Cardiology,Dr. Smith,6200.0,3.0,2023-01-13 12:00,NaN,NaN
4,105,Eva,Dermatology,Dr. Rose,NaN,2.0,2023-01-14 08:45,NaN,NaN
5,101,Alice,Cardiology,Dr. Smith,5000.0,1.0,2023-01-10 09:00,NaN,NaN
6,201,Anita,Cardiology,NaN,4500.0,NaN,NaN,29.0,F
7,202,Raj,Orthopedics,NaN,6000.0,NaN,NaN,40.0,M
8,203,Kiran,Neurology,NaN,5200.0,NaN,NaN,35.0,M

## 9.Concatenate new billing category columns like ['InsuranceCovered', 'FinalAmount'] (column-wise).

In [ ]:
#9.Concatenate new billing category columns like ['InsuranceCovered', 'FinalAmount'] (column-wise).
new_cols = pd.DataFrame({
    'InsuranceCovered': [2000, 3000, 2500],
    'FinalAmount': [3000, 4000, 3500]
})

# Concatenate column-wise
df_combined = pd.concat([df, new_cols], axis=1)
df_combined

,PatientID,Name,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.000000,2000.0,3000.0
1,102,Bob,Neurology,Dr. John,6233.333333,3000.0,4000.0
2,103,Charlie,Orthopedics,Dr. Lee,7500.000000,2500.0,3500.0
3,104,David,Cardiology,Dr. Smith,6200.000000,NaN,NaN
4,105,Eva,Dermatology,Dr. Rose,6233.333333,NaN,NaN